
.profile__inner{
    flex-direction: row;
}
.profile__img img{

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 4rem;
}

.profile__text.col-md-8 {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: column;
}

.about-us-style{
    font-size: 22px;
    font-weight: 600;
}

.bacground-style-about-us{
    background: linear-gradient(to left, #d3f6ef , #aee7f8 ,#90f7da);
}
