h1.heading-style {
    text-align: center;
    padding: 5px;
    color: #1B4F72;
}

h3.sub-head-style {
    color: #1B4F72;
}

p.content-style {
    font-size: 17px;
    color: #424948;
}

p.contact-style {
    margin: 10px 0px;
    font-size: 22px;
    color: #1B4F72;
}